# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
*.coverage
htmlcov/
.dist/
.build/

# Virtual environments
.venv/
venv/
ENV/

# Node / npm
node_modules/
npm-debug.log*
yarn.lock

# AWS CDK build output
cdk.out/

# IDE / editor
.vscode/
*.code-workspace
.idea/

# OS files
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
